.table {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    border: 2px solid var(--green);
}

.cell {
    border: 2px solid var(--green);
}

.robot {
    padding: 16px;
}